html {
    scroll-behavior: smooth;
}

/* ========================================================================= */
/*                                S I Z I N G                                */
/* ========================================================================= */
.auto-display-1 {
    font-size: calc(2.4rem + 3.6vw);
    line-height: 1.0;
}

.auto-display-2 {
    font-size: calc(2.4rem + 2.4vw);
    line-height: 0.9;
    word-spacing: -0.25ch;
}

.auto-display-4 {
    font-size: calc(0.5rem + 2.6vw);
}

.auto-h1 {
    font-size: calc(1.4rem + 1.0vw);
    line-height: 1.2;
}

.auto-h2 {
    font-size: calc(1.0rem + 1.0vw);
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.auto-h3 {
    font-size: min(1.6rem, calc(0.6rem + 1.2vw));
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.script {
    font-size: 18px;
    line-height: 1.1;
}


/* ========================================================================= */
/*                           U S A    C O L O R S                            */
/* ========================================================================= */
.color-usa-red {
    color: #b22234;
}

.color-usa-blue {
    color: #3c3b6e;
}

.color-usa-white {
    color: #fff; /* haha this joke */
}


/* ========================================================================= */
/* */
/* ========================================================================= */
footer {
    font-size: 0.8em;
}

footer ul {
    line-height: 2.0em;
}

.list-centered {
    display: table;
    margin: 0 auto;
}

.readme hr {
    border-top: dashed 1px;
}

ol.slim-indent, ul.slim-indent {
    padding-left: 24px;
}

/* ========================================================================= */
/*                               T A B L E S                                 */
/* ========================================================================= */
.table-vs td {
    font-size: 1.2em;
}


/* ========================================================================= */
/*                                   P R E                                   */
/* ========================================================================= */
pre, .pre-wrap {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    -font-family: "Courier New",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono",monospace;
}

pre, .pre-wrap h1 {
    margin-bottom: -12px;
    margin-top: 20px;
}

pre h4, .pre-wrap h4 {
    margin-bottom: -12px;
    margin-top: 0;
}

.pre-wrap-lg {
    font-size: 1.3rem;
}

/* ========================================================================= */
/* */
/* ========================================================================= */
.favicon {
    background-image: url('/media/img/favicon.png');
    height: 14px;
    width: 14px;
    background-size: 14px;
    display: inline-block;
    position: relative;
    top: 3px;
}

.letter p {
    margin-top: 24px;
}

/* ========================================================================= */
/*                            T Y P O G R A P H Y                            */
/* ========================================================================= */
.courier {
    font-family: "Courier New",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono",monospace;
}

.underline, .u {
    text-decoration: underline;
}

.bold, .b {
    font-weight: bold;
}

.text-shadow {
    text-shadow: #000 1px 0 2px;
}

.spacing-tight {
    word-spacing: -0.35ch;
}

/* ========================================================================= */
/*                           E M O J I    S I Z E S                          */
/* ========================================================================= */
.emoji-button {
    font-size: 22px;
    white-space: nowrap;
}

.emoji-medium {
    font-size: 40px;
    white-space: nowrap;
}

.emoji-huge {
    /* font-size: 120px; */
    font-size: calc(1.0rem + 6.0vw);
    white-space: nowrap;
}

.emoji-huger {
    font-size: 180px;
    white-space: nowrap;
}

.emoji-hugest {
    font-size: 240px;
    white-space: nowrap;
}

.emoji-hugester {
    font-size: 300px;
    white-space: nowrap;
}


/* ========================================================================= */
/*                             J U M B O T R O N                             */
/* ========================================================================= */
.jumbotron-slim {
    margin-top: -32px;
}


/* ========================================================================= */
/*                         W I D T H    H E L P E R S                        */
/* ========================================================================= */

.w-40 { max-width: 40px; }
.w-80 { max-width: 80px; }
.w-120 { max-width: 120px; }
.w-138 { max-width: 138px; }
.w-240 { max-width: 240px; }
.w-320 { max-width: 320px; }
.w-400 { max-width: 400px; }
.w-480 { max-width: 480px; }
.w-720 { max-width: 720px; }


/* ========================================================================= */
/*                              J O G D I A L                                */
/* ========================================================================= */
#jog_dial {
  position: relative;
  width: 260px;
  height: 260px;
  margin: 20px auto;
  background: url('../img/jogdial/base_one_bg.png');
  background-repeat: none;
}

#jog_dial #jog_dial_knob {
  background: url('../img/jogdial/base_one_knob.png');
}

#jog_dial_meter {
  width: 200px;
  height: 10px;
  margin: 20px auto 30px;
  background: #999;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

#jog_dial_meter div {
  position: relative;
  /*width: 65%;*/
  height: 100%;
  background: #80e93a;
}


/* ========================================================================= */
/*                                 U T I L S                                 */
/* ========================================================================= */
.blinking {
    animation:blinkingText 2.2s infinite;
}
@keyframes blinkingText {
    0%   { color: #ddcc80; }
    49%  { color: #ddcc80; }
    60%  { color: transparent; }
    99%  { color: transparent; }
    100% { color: #ddcc80; }
}

.img-zoom {
    /* for the zoom icon on images */
    position: absolute;
    top: 8px;
    left: 6px;
    display: inline;
}

.mirror {
    /* from: https://stackoverflow.com/a/11457128/420678 */
    display: inline-block;

    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.flip {
    display: inline-block;

    -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
    -moz-transform: matrix(1, 0, 0, -1, 0, 0);
    -o-transform: matrix(1, 0, 0, -1, 0, 0);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.dim-45 { filter: brightness(45%); }
.dim-55 { filter: brightness(55%); }
.dim-65 { filter: brightness(65%); }
.dim-75 { filter: brightness(75%); }
.dim-80 { filter: brightness(80%); }
.dim-85 { filter: brightness(85%); }

.pre-wrap {
    white-space: pre-wrap;
}

.nowrap {
    white-space: nowrap;
}


/*===============================================================*/
/*                     C O M F Y    L I S T S                    */
/*===============================================================*/
.comfy li {
    padding-top: 1rem;
}

.comfy li:first-of-type {
    padding-top: 1rem;
}

.comfy-comfy li {
    padding-top: 3rem;
}

.comfy-comfy li:first-of-type {
    padding-top: 1rem;
}


/* ========================================================================= */
/*                                T A B L E S                                */
/* ========================================================================= */
.thead-darker, .tfoot-darker {
    background-color: #292e33;
}


/* ========================================================================= */
/*                              A N C H O R S                                */
/* ========================================================================= */
a:visited.dim-visited {
    color: #4a607f;/*#002f65; /*#4a607f; /*#193e62; /* TODO: move to dim and bright? */
}

/* ========================================================================= */
/*                         C U S T O M    L I S T S                          */
/* ========================================================================= */
/* .emoji-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.emoji-list li {
  padding-left: 1rem;
  text-indent: -0.75rem;
}

.poop-list li::before {
  content: '💩 ';
} */


/* ========================================================================= */
/*                                   L O G                                   */
/* ========================================================================= */
.log-h1 {
    font-size: calc(1.4rem + 0.6vw);
    margin-bottom: -2.0rem;
    line-height: 1.2;
    font-weight: bold;
    -font-family: 'Linux Libertine','Georgia','Times','Source Serif Pro',serif;
}

.log-img-caption {
    font-size: 0.9rem;
    margin-top: 0.8rem;
    margin-bottom: -2.0rem;
    max-width: 800px;
    text-align: center;
}
